div {color: darkgreen;}
h1 {color: blue;}
tr {align: middle;}
#summary {border-style: solid; border-color: red; border-width: 1px;}
.goodhit {color: lime;}
.fairhit {color: yellow;}
.poorhit {color: red;}
#hit1 {color: darkblue;}
